<div class="form_div">
    <%  if @flight.errors.any? %>
        <ul>
        <% @flight.errors.full_messages.each do |e|%>
            <li class="error-message">
            <%= e %>
            </li>
        <% end %>
        </ul>
    <% end%>


    <%= form_with model: @flight, local: true do |f| %>
        
        <div class="flight-input-container">
            <%= f.label :origin %>
            
            <%= f.text_field :origin %>
        </div>
            
        <div class="flight-input-container">
            <%= f.label :destination %>
        
            <%= f.text_field :destination %>
        </div>
        
        <div class="flight-input-container">
            <%= f.label :date %>
            
            <%= f.date_field :date %>
        </div>
            
        <div class="flight-input-container">
            <%= f.label :airplane_id %>
        
            <%= f.collection_select :airplane_id, Airplane.all, :id, :name ,{class:"input"}%>
        </div>

        <%= f.submit class:"button" %>
    <% end %>
</div>