<div class="form_div">
    <%= form_with model: @flight, local: true do |f| %>
        <%= f.label :origin %>
        
        <%= f.text_field :origin %>
        
        <%= f.label :destination %>
       
        <%= f.text_field :destination %>
        
        <%= f.label :date %>
        
        <%= f.date_field :date %>
        
        <%= f.label :airplane_id %>
       
        <%= f.collection_select :airplane_id, Airplane.all, :id, :name %>
      

        
        <%= f.submit %>
    <% end %>
</div>