<!DOCTYPE html>
<html>
  <head>
    <title>ZZY Airlines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div id="page-wrapper">
    <header>
      <h1>ZZY Airlines</h1>
      <nav>
        <%= link_to 'Airplanes', new_airplane_path %>
        <%= link_to 'Flights', flights_path %>
        
      </nav>
    </header>
    
    <%= yield %>
  </div>
  </body>


</html>
