<!DOCTYPE html>
<html>
  <head>
    <title>ZZY Airlines</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Raleway&display=swap" rel="stylesheet">
  </head>

  <body>
  <div id="page-wrapper">
    <header>
      <h1 class="logo-airlines">ZZY Airlines</h1>
      <nav>
        <%= link_to 'Airplanes', airplanes_path , class:"nav-button"%>
        <%= link_to 'Flights Index', flights_path , class:"nav-button" %>
      </nav>
    </header>
    
    <%= yield %>
  </div>
  </body>


</html>
